.main{
  background: green;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputField{
  margin: auto;
  display: flex;
  justify-content: center;
  }